<p id="notice"><%= notice %></p>

<h1>Polling Stattions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>UC</th>
      <th>Votter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polling_stations.each do |polling| %>
      <tr>
        <td><%= polling.name %></td>
        <td><%= polling.city %></td>
        <td><%= polling.UC %></td>
        <td><%= polling.voter_id %></td>
        <td><%= link_to 'Show', polling_station %></td>
        <td><%= link_to 'Edit', edit_polling_station_path(polling_station) %></td>
        <td><%= link_to 'Destroy', polling_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Polling', new_polling_station_path %>
