<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>

  <%= @polling_station.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @polling_station.city %>
</p>

<p>
  <strong>UC:</strong>
  <%= @polling_station.UC %>
</p>

<p>
  <strong>Voter:</strong>
  <%= @polling_station.voter_id %>
</p>

<%= link_to 'Edit', edit_polling_station_path(@polling_station) %> |
<%= link_to 'Back', polling_station_index_path %>
