<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @voter.name %>
</p>

<p>
  <strong>Cnic:</strong>
  <%= @voter.cnic %>
</p>

<p>
  <strong>Fingerprint:</strong>
  <%= @voter.fingerprint %>
</p>

<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
