<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Cnic:</strong>
  <%= @candidate.cnic %>
</p>

<p>
  <strong>Polling:</strong>
  <%= @candidate.polling_id %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
